---
import { Invitee } from '@/lib/schema'
import Underline from '../common/Underline.astro'
import { Button } from '../ui/button'
import { GROOM_NICKNAME } from 'astro:env/client'
import { WEDDING_DATE } from 'astro:env/client'
import dayjs from 'dayjs'
import { BRIDE_NICKNAME } from 'astro:env/client'

interface Props {
  invitee?: Invitee
}

const { invitee } = Astro.props
---

<header class="relative px-0 flex flex-col pb-[140px] h-[750px] lg:pb-[200px] 3xl:pb-[12vw]">
  <div class="absolute left-1/2 bottom-0 3xl:inset-0 -translate-x-1/2 3xl:translate-x-0">
    <img
      src="/images/flower.png"
      loading="lazy"
      class="dark:invert dark:grayscale w-[1200px] lg:w-[1750px] 3xl:w-full max-w-screen-3xl 3xl:max-w-full h-auto 3xl:h-full 3xl:object-contain 3xl:object-bottom"
    />
  </div>
  <div class="lg:max-w-3xl xl:max-w-4xl mx-auto my-16 md:my-auto px-6">
    <div class="mb-4 font-title">
      <h2 class="text-lg md:text-xl">Walimatul 'Urs</h2>
      <h1 class="text-balance text-4xl sm:text-5xl lg:text-6xl tracking-[-.045em]!">{GROOM_NICKNAME} & {BRIDE_NICKNAME}</h1>
      <p class="text-lg md:text-xl">{dayjs(WEDDING_DATE).format('DD.MM.YY')}</p>
    </div>

    <p
      class="text-muted-foreground text-balance lg:text-pretty text-base lg:text-lg font-light tracking-prose mb-8 max-w-lg lg:max-w-3xl mx-auto"
    >
      Assalamu’alaikum wa rahmatullahi wa barakatuh, Yth. Bapak/Ibu/Saudara/i
      <strong class="text-foreground font-semibold">{invitee?.name}</strong>.
      <br /><br class="lg:hidden" />
      Dengan segala kerendahan hati, kami mengundang Anda untuk hadir, menjadi saksi ikrar suci yang akan kami mulai, sebagai awal
      dari ibadah terpanjang dalam hidup <span class="relative inline-block z-0">kami. <Underline /></span>
    </p>

    <Button className="z-10 relative">
      <a href="#intro">Buka Undangan</a>
    </Button>
  </div>
</header>
