---
import { GROOM_PARENTS } from 'astro:env/client'
import Title from '../ui/Title.astro'
import { BRIDE_PARENTS } from 'astro:env/client'
---

<section class="relative overflow-hidden morphing-diamonds text-balance">
  <div class="container py-12 xl:py-16 px-4 sm:px-6 lg:px-36 xl:px-48 grid gap-20 items-center mx-auto">
    <div class="lg:max-w-3xl space-y-2 text-center mx-auto text-slate-300 text-base lg:text-lg">
      <Title className="text-white">Sampai Jumpa di Hari Bahagia</Title>
      <p>
        Sungguh bahagia hati ini, bila Bapak/Ibu/Saudara/i berkenan hadir dan mengiringi janji suci kami dengan doa dan restu
        yang penuh keberkahan.
      </p>
      <p class="font-title font-medium text-white mt-8! mb-2!">Keluarga yang berbahagia</p>
      <div class="flex justify-between gap-6">
        <div>
          <p>Keluarga</p>
          <p>{GROOM_PARENTS}</p>
        </div>
        <div>
          <p>Keluarga</p>
          <p>{BRIDE_PARENTS}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center mb-4">
    <img src="/favicon.svg" loading="lazy" class="w-10" />
  </div>
</section>
