---
import { twMerge } from 'tailwind-merge'

interface Props {
  className?: string
}

const { className } = Astro.props
---

<h2 class={twMerge('font-title font-medium text-2xl md:text-3xl lg:text-4xl', className)}><slot /></h2>
